/*footer
{
    nav
    {
        background:  #78C1AD;
    }
} */

main
{
    article
    {
        h1 
        {
            font-size: 250%;
        }
        img 
        {
            width: 18%;

        }
        p
        {
            font-size: 90%;   
        }
       

    }
    section 
    {
        article
        {
            #row 
            {
                
                font-size: 13px;
                width: 80%
                
            }
        }
    }
    #bgr 
    {
        background: url("../images/background.jpg");
    }
}

